.card {
margin: 72px;
  width: 300px;
  height: auto;
  padding: 16px;
  background-color: lightblue;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
